// Sass Variables
$headingFont: "Poppins", sans-serif;
$bodyFont: "Open Sans", sans-serif;
$normal: 400;
$bold: 600;
$mainFontColor: #fff;

body {
  box-sizing: border-box;
  font-family: $bodyFont;
  color: #fff;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  max-height: 800px;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: 1400px) {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.wrapper {
  margin: 5em 0 0 5em;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 100vw;
    margin: 2em auto;
  }
}

.header {
  width: 100%;
  margin-left: 0;
}

.logo {
  position: relative;
  left: -11px;
  width: 200px;
  margin-bottom: 6em;
}

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2em auto;
  }
}

.main-image {
  width: 50%;
  // margin: 3em auto;

  .tablet_cell_img {
    width: 100%;
    position: relative;
    left: -7px;
  }

  @media only screen and (max-width: 1400px) {
    width: 100%;
    margin: 3em auto;
  }
}

.main-showcase {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 44%;
  // margin-left: 2em;
  position: relative;
  left: -15px;
  margin-top: 4em;

  @media only screen and (max-width: 1400px) {
    .main__header {
      width: 35%;
      margin: 0.5em auto;
    }

    .main__intro {
      width: 27%;
      margin: 0.5em auto;
    }

    .main__button {
      width: 20%;

      margin: 0.5em auto;
    }
    width: 100%;
    margin: 0 auto;
  }
}

.main__header {
  font-size: 2.7rem;
  font-weight: $bold;
  font-family: $headingFont;
  width: 70%;
}

.main__intro {
  font-size: 1.3em;
  font-weight: 400;
  width: 86%;
}

.main__button {
  color: hsl(257, 40%, 49%);
  width: 34%;
  height: 13%;
  border-radius: 45px;
  font-size: 1.3em;
  font-weight: 300;
  outline: none;

  @media only screen and (max-width: 1400px) {
    width: 20%;
    padding: 1rem;
    margin: 0.5em auto;
  }
}

.button__link {
  text-decoration: none;
  font-family: $headingFont;
}

.social__links {
  box-sizing: border-box;
  .links {
    position: relative;
    left: 23em;

    .link {
      list-style-type: none;
      margin: 0 0.5em;
      font-size: 2.5em;
      display: inline-block;
      border: none;
    }

    @media only screen and (max-width: 375px) {
      order: 1;
      margin: 1em auto;
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  color: #fff;
  position: relative;
  bottom: -49px;

  @media only screen and (max-width: 1400px) {
    width: 20%;
    padding: 1rem;
    margin: 0.5em auto;
  }
}

.attribution {
  align-self: center;

  @media only screen and (max-width: 1400px) {
    order: 2;
    // margin: 1em auto;
  }
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
}
