// Sass Variables
$headingFont: 'Poppins',
sans-serif;
$bodyFont: 'Open Sans',
sans-serif;
$normal: 400;
$bold: 700;
$mainFontColor: #fff;

html {
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: $bodyFont;
  color: #fff;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
}